{% extends 'navigation.html' %}
{% block body %}
<style>
    #id2{
    background-color: #20305E;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin:0px;
  padding:0px;
  height:27px;
  width:30%;
  font-size:70%;
}
.container{
    background:color:blue;
    color:white;
}
</style>
<p align="center" style="margin-top:1%;font-size:18px">"All Advertisement"</p>

    <div class="row" style="margin:5%">
        {% for i in data %}
        <div class="col-sm-6">
            <div class="jumbotron" style="width:100%;border-radius:4%;padding:4%">
                <p style="color:red">{{i.title}} (Status :  {{i.status.status}}) | <span style = "color:blue">Post Date : {{i.postdate}}</span><hr></p>
                <a href="{% url 'detail1' i.id %}" ><img src="{{i.img.url}}" style="border-radius:8%;width:300px;height:300px;"><hr></a>

            <h4 style="color:black">Price : {{i.price}} Rs.</h4>
            <h4 style="color:black">Contact : {{i.register.mobile}}</h4>
            <h4 style="color:black">Local Address : {{i.local_add}}</h4>
                <h4 style="color:black">Brand : {{i.brand}}   &nbsp;&nbsp;&nbsp;&nbsp;Model : {{i.model}} </h4>
                <h4 style="color:black">Fuel : {{i.fuel}}   &nbsp;&nbsp;&nbsp;&nbsp;Year : {{i.year}} </h4>
                <h4 style="color:black">KmDriven : {{i.kmdriven}}   &nbsp;&nbsp;&nbsp;&nbsp;No. of Owner : {{i.noofowner}} </h4>
                <hr>
                <p>Additional Information :</p>
                <h4 style="color:Black">{{i.desc}}</h4>{{i.state.state}}
                <a href="{% url 'owner' i.id %}"><img src="{{i.register.image.url}}" style="border-radius:50%;width:30px;height:30px"> Owner Detail</a><br>


            </div>

        </div>


        {% endfor %}
    </div>

{% endblock %}