
{% include 'navigation.html' %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SELL YOUR CAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
    input[type=text][type=password]{
    border-radius:8px;
    width:600px;
    height:16px;
    }


</style>

</head>
<body>

<div style="color:Black;border:1px solid white;border-radius:8px;background-color:#99DBF9;padding:50px">

        <h3><strong>Login</strong></h3><hr>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

User Name:<br><input type="text" placeholder="Enter user name" name="uname" style="border-radius:8px;width:600px;height:35px;"><br><br>
        Password:<br><input type="password" placeholder="Enter password" name="pwd" style="border-radius:8px;width:600px;height:35px;"><br><br>

        <input type="submit" value="Sign in" style="color:white;border-radius:8px;width:100px;height:35px;background-color:#333;border:1px solid black">
    </form>

    </div>
<div>
    <img src = "{% static 'images/jokes5.jpg' %}" width="100%" class="img-responsive">
</div>
</body>
</html>

{% ifequal error "no" %}
<script>
    alert('logged in successfully');
    window.location=('{% url 'home' %}');
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials,Try Again...');
</script>
{% endifequal %}